/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	color: #6e6969;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.3em; 
	background-color: #fff;
	background-image: url(../images/templatemo_body.png);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited { color: #8b1818; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

a.more { display: block; margin-top: 20px; width: 90px; height: 28px; line-height: 25px; background: url(../images/templatemo_more.png) no-repeat }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#282828; }
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #282828; }
em { text-decoration: underline }

h1, h2, h3, h4, h5, h6 { color: #881212; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 30px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.float_l { float: left }
.float_r { float: right }

.image_frame { 
	display: inline-block; 
	padding: 4px; 
	border: 1px solid #ccc; 
	margin: 3px 0 15px 0; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.templatemo_list { 
	margin: 10px 0 10px 0; 
	padding: 0; 
	list-style: none; 
}

.templatemo_list li { 
	color:#6e6969; 
	margin: 0 0 10px 0; 
	padding: 0 5px 0 15px; 
	background: url(../images/templatemo_list.png) no-repeat scroll 0 5px;  
}

.templatemo_list li a { 
	color: #6e6969; 
	font-weight: normal; 
}

.templatemo_list li a:hover { 
	color: #333; 
}

#templatemo_wrapper {
	width: 100%;
	background: url(../images/templatemo_wrapper.jpg) top center no-repeat;
}

#templatemo_header {
	height: 52px;
	width: 960px;
	padding: 40px 10px 10px;
	margin: 0 auto
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; padding: 0; 
}

#site_title h1 a { 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; width: 217px; 
	height: 52px; 
	color: #acacac; 
	text-indent: -10000px; 
	background: url(../images/templatemo_logo.png) no-repeat center left; 
}

#templatemo_menu { 
	float: right; 
	width: 710px; 
	height: 52px; 
	background: url(../images/templatemo_menu_bar.png) no-repeat; 
}

#templatemo_middle {
	width: 960px;
	padding: 40px 0 0;
	margin: 0 auto;
}
#templatemo_middle_left {
	float: left;
	width: 450px;
	padding: 20px 0;
}

#templatemo_middle_left h2 { 
	color: #535353; 
	font-size: 28px; 
	font-weight: normal; 
	line-height: 34px; 
	margin-bottom: 10px; 
}

#templatemo_middle_left h2 strong { 
	display: block; 
	color: #000; 
	font-size: 38px;  
	font-weight: normal; 
}

#templatemo_middle_left a.learn_more { 
	display: block; 
	margin-top: 20px; 
	width: 164px; 
	height: 50px; 
	background: url(../images/templatemo_learn_more.png) no-repeat; 
}

.middle_box a.mb_more { 
	display: block; 
	font-weight: 700; 
	position: absolute; 
	bottom: 10px; right: 20px; 
}

#slider-wrapper {
	float: right;
    width: 305px;
    height: 253px;
    margin: 0 0 0;
	padding: 15px 18px;
	background: url(../images/monitor.png) no-repeat 
}

#slider {
	position:relative;
    width: 300px;
    height: 175px;
	background:url(../images/loading.gif) no-repeat 50% 50%;
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
}

.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}

.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

#templatemo_main_wrapper {
	clear: both;
	width: 100%;
	background: url(../images/templatemo_content_top.png) no-repeat top center 
}

#templatemo_main {
	width: 960px;
	padding: 60px 10px 40px;
	margin: 0 auto;
	background: url(../images/templatemo_content_top.png) no-repeat top center 
}

#content {
	float: left;
	width: 620px;
}

.col_2 { width: 280px }

.testimonial { 
	padding: 0 0 0 50px; 
	display: block; 
	background: url(../images/testimonial.png) left top no-repeat; 
}

.post {
	clear: both;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #c6c6c6;
}

.post h2 { 
	margin-bottom: 10px; 
}

.post .meta { 
	font-size: 10px; 
	margin-bottom: 20px; 
}

.post .meta a, .post .meta strong { 
	color: #333; 
	font-weight: 700; 
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 588px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	border-top: 1px solid #d7d7d7;  
	background: #f6f6f6; 
}

.comments li .commentbox2 { 
	border-top: 1px solid #c2c2c2;  
	background: #d7d7d7; 
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 15px;  
}

.comment_box .gravatar { 
	float: left; 
	width: 75px; 
	margin-right: 30px; 
}

.comment_box .gravatar img {  
	width: 75px; 
	height: 75px; 
}

.comment_box .comment_text {  }

.comment_box .comment_text p { 
	margin: 0; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	font-weight: bold; 
	color: #000; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 12px; 
	font-weight: normal; 
	color: #000; 
	padding-left: 10px; 
}

.comment_text .reply a { 
	display: block; 
	clear: both; 
	float: right; 
	color: #000; 
	font-weight: 700; 
} 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background-color: #f6f6f6;
	border: 1px solid #d7d7d7;
}

#comment_form textarea {
	color: #111;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #d7d7d7;
	height:150px;
	width: 360px;
	margin-top:5px;
	padding:5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #111;
	margin-top: 5px;
	padding: 5px;
	width: 200px;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #d7d7d7;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .submit_btn {
	display: block; 
	width: 80px; 
	padding: 3px 8px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold;  
	background: #666; 
	border: 1px solid #444; 
	color: #fff; 
	font-size:11px; cursor: pointer 
}

.rp_pp { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #ced4dc }
.rp_pp a { color: #666; font-weight: 700 }
.rp_pp img { float: right; margin-left: 15px; }
.rp_pp img.sidebar { float: left; margin: 0 15px 0 0; }
.rp_pp p { font-size: 10px }

.gallery_box { 
	float: left; 
	width: 280px; 
	margin: 0 60px 60px 0; 
}

#contact_form { 
	padding: 0; 
	width: 592px; 
	margin-bottom: 40px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 270px; 
	padding: 5px; 
	color: #111;  
	background: #fff; 
	border: 1px solid #ccc;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 12px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 580px; 
	height: 200px; padding: 5px; 
	color: #111;
	background: #fff; 
	border: 1px solid #ccc; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	margin: 10px 0px;
	padding: 5px 14px;
	background: #fff; 
	border: 1px solid #ccc; 
}

#sidebar {
	float: right;
	width: 280px;
}

#templatemo_search { 
	margin-bottom: 40px; 
	width: 264px; 
	height: 36px; 
	padding: 8px 5px 8px 8px; 
	background: url(../images/templatemo_search.png) no-repeat; 
}

#templatemo_search form {
	margin: 0;
	padding: 0;
}

#templatemo_search .txt_field {
	float: left;
	display: block;
	height: 34px;
	line-height: 34px;
	width: 230px;
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
	font-variant: normal;
	border: none;	
	background: none;
}

#templatemo_search .sub_btn {
	float: right;
	display: block;
 	height: 34px;
	width: 25px;
	cursor: pointer;
	border: none;
	background: none;	
}

.sb_box {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc
}

.flickr_stream { 
	margin: 0; 
	padding:0; 
	list-style: none; 
}

.flickr_stream li { 
	float: left; 
	margin: 0 8px 8px 0; 
	padding: 0; 
}

#templatemo_footer_wrapper {
	width: 100%;
	background: #e9e9e9 url(../images/templatemo_footer_bg_repeat.png) repeat-x top
}

#templatemo_footer {
	width: 960px;
	margin: 0 auto;
	padding: 10px 10px 40px;
	color: #666;
	background: url(../images/templatemo_footer_bg.png) center top no-repeat;
}

.col_4 { 
	float: left; 
	width: 215px; 
	margin-right: 20px; 
}

a.goto_top { 
	display: block; 
	width: 30px; 
	height: 31px; 
	margin: 10px auto 40px; 
	background: url(../images/templatemo_top.png) no-repeat top center;  
}

#templatemo_footer h5 { 
	font-size: 14px; 
	font-weight: 700; 
	margin-bottom: 20px; 
}

.footer_list { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.footer_list li { 
	margin: 0 0 5px; 
	padding: 0 0 3px; 
	border-bottom: 1px dotted #433854; 
}

.footer_list li a { 
	color: #666; 
}

.twitter_post { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.twitter_post li { 
	margin: 0 0 10px; 
	padding: 0 0 7px; 
	border-bottom: 1px dotted #433854; 
}

.footer_social_button { 
	clear: both; 
	margin-top: 20px; 
}

.footer_social_button a { 
	margin-right: 5px; 
}

#templatemo_cr_bar_wrapper {
	clear: both;
	width: 100%;
	height: 120px;
	background: #161616 url(../images/templatemo_footer.png) repeat-x 
}

#templatemo_cr_bar {
	width: 962px;
	margin: 0 auto;
	padding: 80px 9px 0;
	color: #a097ae;
	text-align: center
}

#templatemo_cr_bar a { color: #b8b0c4 }

.no_margin_right { margin-right: 0 }

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #f6f6f6; 
	border: 1px solid #dfdfdf; 
}

.pagging ul li a:hover { 
	background: #e50000; 
	border: 1px solid #dfdfdf; 
	color: #fff;  
}